.confirmationPage{
    background-color: #1c2740 ;
    background-image: url("../Images/loginbgImg.png");
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    position: relative;
}

.confirmationPage img{
    height: 20vh;
}

.confirmationPage .smsContent{
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirmationPage .smsContent .para{
    font-size: 18px;
    color: white;
}

.confirmationPage .smsContent .success{
    font-size: 22px;
    color: #10ea85;
}

.confirmationPage .copyright{
    display: block;
    
    margin-top: 30px;
    color:#D3CA6D;
    position: absolute;
    z-index: 4;
     left:0;
     right: 0;
     width: 100%;
    
     text-align:center;
    bottom: 50px;
}
.confirmationPage .copyright-highlight{
    color: #fff;
    font-weight: 600;
}