/* card css */

.default-dashboard-view {
    padding-top: 50px;
}

.default-dashboard-view .conter-card{
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 30px 25px;
    background-color: #fff;
    /* display: flex; */
    box-shadow: 0 0 20px rgb(0 0 0 / 8%);
    justify-content: space-between;
    align-items: center;
    height: 125px;
    font-size: 11px;
    text-transform: capitalize;
}

.default-dashboard-view .category-store i{
font-size: 32px!important;
}
 .category-icon{
    display: flex!important;
}
.default-dashboard-view .conter-card i{
   font-size: 40px;
}
.default-dashboard-view .conter-card.two i{
    color:#00c292;
} 

.default-dashboard-view .conter-card.one .category-icon i{
    color:#ff9800;
} 
.default-dashboard-view .conter-card.catagory .category-icon .fa-user-shield
{
    color: #7d97a4;
}

.default-dashboard-view .conter-card.four i{
    color:#f44336;
}

.default-dashboard-view .conter-card.one i{
    color:#ab8ce4;
}
.default-dashboard-view .conter-card.three i{
    color: #ffc107;
}

.default-dashboard-view .conter-card.five i{
    color:#ed558e;
}
.default-dashboard-view .conter-card .counter-card-number{
    color: #455a64;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
    margin-left: 32px;
}
.default-dashboard-view .conter-card .counter-card-title{
    margin-bottom: 5px;
    color:#99abb4;
}


/* end card css */