/* qr code css */

.one
{
  position: relative;
}
.qr-code
{
  position: absolute;
  top: 20%;
  right: 5%;
}


.navyday
{
  background-color: #151632; 
  min-height: unset;
  position: relative;
}
.navyday .muiltiple-pics{

  /* position: absolute;
  right: 0;
  width: 180px; */
  height: 100%;
  /* bottom: 0; */
  background-color:#D3CA6D;
}
.navyday .muiltiple-pics .three {
  text-align: center;
}
.navyday .muiltiple-pics .three img{
  height: 60px;
  width: auto;
  margin-top: 20px;
}
 .single-pic-wrapper{
  /* margin-top: 140px; */
}
.navyday .muiltiple-pics .single-pic-wrapper .single-pic{
  margin: 25px 0;
}
.navyday .muiltiple-pics .single-pic{
  text-align: center;
}
.navyday .muiltiple-pics img{
  width: 65%;
}
.navyday-main-pic img{
   height: 400px;
}
.top-wrapper{
   display: flex;
   justify-content: space-between;
   padding: 20px 0;
}
.top-wrapper .one{
  position: relative;
  left: 53px;
}
.top-wrapper img{
  height: 70px;
}
.top-wrapper .title{
    text-transform: uppercase;
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.top-wrapper .date{
  color: #fff;
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  opacity: .75;
}
.common-alternate-bg{
  position: relative;
}
.common-alternate-bg::after{
  position: absolute;
  content: '';
  display: block;
  top: 0;
  right: 0;
  height: 50%;
  background: #0f1d38;
  z-index: 3;
  width: 100%;
}
.common-alternate-bg::before{
  position: absolute;
  content: '';
  display: block;
  bottom: 0;
  right: 0;
  height: 50%;
  background:#151632;
  z-index: 3;
  width: 100%;
}
.navyday-common-padding{
  padding: 50px;
}
/* ------------------------navyday-second-area------------------------- */
.navyday-second-area .navyday-second-area-card{
  text-align: center;
  position: relative;
  padding: 0;

}
/* .navyday-second-area  .navyday-second-area-card::before{
  position: absolute;
  content: '';
  left: 0;
  display: block;
  right: 0;
  top:0;
  height: 100px;
  background-color:#008dd2;
} */
.navyday-second-area .navyday-second-area-card .one{
  margin-bottom: 40px;
}
.navyday-second-area .navyday-second-area-card .one img{
  width: 100%;
  height: 300px;
}
.navyday-second-area .navyday-second-area-card .two{
  /* padding-top: 80px; */
}
.navyday-second-area .navyday-second-area-card .navyday-second-area-card-title{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #41378e;
    line-height: 1.3;
}
.navyday-second-area .navyday-second-area-card .highlight-one{
  font-weight: 600;
}
.navyday-second-area .navyday-second-area-card .highlight-second{
  font-weight: 700;
  color: #41378e;
  font-size: 22px;
}
.navyday-second-area .navyday-second-area-card .bordered-line{
  border-bottom: 2px dotted #000;
  width: 40%;
  margin: 40px auto;
}
.navyday-second-area .navyday-second-area-card .three .subheading{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 3px;
}
.navyday-second-area .navyday-second-area-card .three .mainheading{

  font-size: 22px;
  font-weight: 700;
  font-style: italic;
}
.navyday-second-area .navyday-second-area-card .four{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
    /* padding-top: 40px; */
    padding: 40px 60px 40px 60px;
}
.navyday-second-area .navyday-second-area-card .four .left-box{
  text-align: left;
}
.navyday-second-area .navyday-second-area-card .four .general-info{
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 500;
  color: #41378e;
}
.navyday-second-area .navyday-second-area-card .four .general-info-title{
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 3px;
  color: #41378e;
}
.navyday-second-area .navyday-second-area-card .four .right-box .general-info-wrapper{
  display: flex;
}
.navyday-second-area .navyday-second-area-card .four .right-box .general-info-wrapper .right{
  padding-left: 10px;
}

/* --------------------navyday-third-area-------------------- */
.navyday-third-area{
 /* padding: 30px; */
}
.navyday-third-area-card,.navyday-second-area-card,.navyday-fifth-area-card{
  position: relative;
  z-index: 10;
  background-color: #fff;
  padding: 30px 60px;
}
.navycard-common-title{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}
.navycard-common-title-content{
  font-size:14px;
  font-weight: 400;
}
.time-duration-wrapper{
  display: flex;
  justify-content: space-between;
}
.time-duration-right{
  padding-left: 20px;
}
.navyday-third-area-card-wrapper{
  display: flex;
}
.navyday-third-area-card-wrapper .right{
  padding-left: 40px;
}
.navyday-third-area-card-wrapper.first{
  color: #9a3749;
}
.navyday-third-area-card-wrapper.second{
  color: #3b3187;
}

/* --------------------------navyday-fourth-area------------------------ */
.navyday-fourth-area .map-box {
  position: relative;
  z-index: 10;
  margin-top: 35px;
}
.navyday-fourth-area .map-box img{

   width:100%;
   object-fit: contain;
   height: 500px;
}
.navyday-fourth-area .map-title{
  color: #fff;
    font-weight: 500;
    font-size: 30px;
    position: relative;
    z-index: 4;
    text-align: center;
    /* margin-bottom: 39px; */
    line-height: 1;
   
}
.navyday-fourth-area .copyright,.navyday-fifth-area .copyright
{
     display: block;
    text-align: right;
    margin-top: 30px;
    color:#D3CA6D;
    position: relative;
    z-index: 4;
}
.navyday-fourth-area .copyright-highlight,.navyday-fifth-area .copyright-highlight{
  color: #fff;
  font-weight: 600;
}


/* -------------------------navyday-fifth-area-card------------------------------------ */

.navyday-fifth-area-card{
  min-height: 100vh;
}
.navyday-fifth-area .entrance-qr .qr-code svg{
    height: 200px;
}
.navyday-fifth-area-card{
  display: flex;
  align-items:center;
  justify-content: center;
}
.navyday-fifth-area  .entrance-box{
  margin-bottom: 50px;
}
.navyday-fifth-area  .entrance-box p{
  font-weight: 700;
    color:#000;
    font-size: 35px;
    line-height: 1.3;
    margin-bottom: 3px;
    text-align: center;
}

.entrance-qr-code-view{
  height: "250px";
  max-width: 120;
  width: "100%";
}


/* -----common responsive css---- */

@media only screen and (max-width : 1920px){
 
}



@media only screen and (max-width : 1399px){
 

}
@media only screen and (max-width : 1218px)
{
  .navyday-third-area-card{
    padding: 20px 20px;

  }
}
@media only screen and (max-width : 1214px){
  .navyday-third-area-card-wrapper .right{
    padding-left: 20px;
  } 
  .navyday-third-area-card-wrapper .right{
    padding-left: 10px;
  }
  .time-duration-right{
    padding-left: 10px;
  }
  .navyday-third-area-card{
    padding: 20px 10px;
  }

}
@media only screen and (max-width : 1199px)
{
  .navycard-common-title-content{
    font-size: 12px;
  }
  .time-duration-right {
  padding-left:2px;
  
}
.navyday-common-padding{
  padding: 20px;
}
.navyday-third-area{
  padding: 20px;
}
.navyday .muiltiple-pics{
  /* width: 120px; */
}

.navyday-main-pic img{
  height: 300px;
}
}





@media only screen and (max-width : 1024px) {

  /* .navyday-main-pic img{
    height: 200px;
  }
  .navyday .muiltiple-pics img{
    width: 50%;
  } */
  .navyday{
    min-height: unset;
  }
}

@media only screen and (max-width :991px) {
  /* .navyday-main-pic img{
    height: 160px;
  } */
  .top-wrapper img{
    height: 60px;
  }
  /* .navyday .muiltiple-pics .single-pic-wrapper .single-pic{
    margin: 10px 0;
  } */
  .navyday .muiltiple-pics .single-pic-wrapper{
    /* margin-top: 112px; */
  }
  .navyday-fifth-area-card{
      min-height: unset;
  }
}
@media only screen and (max-width :845px){
  .navyday-common-padding{
    padding: 10px 10px;
  }
  .navycard-common-title-content {
    font-size: 11px;
}
/* .navyday-main-pic img{
   height: 150px;
} */
/* .navyday .muiltiple-pics{
  width: 100px;
} */
/* .navyday .muiltiple-pics img{
  width: 55%;
} */
.top-wrapper{
  padding: 10px 0;
}
.navyday .muiltiple-pics .single-pic-wrapper{
  /* margin-top: 100px; */
}
}
@media only screen and (max-width :825px)
{
  .navycard-common-title-content{

  }
}

@media only screen and (max-width : 767px) {
  .navyday-third-area-card-wrapper .right{
    padding-left: 10px;
  }
  .navyday-third-area-card{
    padding: 20px 15px;
  }
  /* .navyday-main-pic img{
    height: 270px;
  } */
  .navyday .muiltiple-pics img{
    width: 50%;
  }
  
}
@media only screen and (max-width : 680px){
  .navyday-main-pic img{
    height: 250px;
  }
}
@media only screen and (max-width : 650px){
  .navyday-main-pic img{
    height: 220px;
  }
}
@media only screen and (max-width : 575.98px) {
  .navyday-common-padding{
    padding: 20px;
  }
  .top-wrapper img{
    height: 40px;
  }
  .navyday{
    min-height: unset;
    /* padding: 20px!important; */
  }

  .navyday-main-pic img{
    height:250px;
  }  
  .top-wrapper .title{
    font-size: 28px;
  }
  .top-wrapper .date{
    font-size: 15px;
  }
  .navyday .muiltiple-pics{
    /* width: 90px; */
  }
  
  .navyday .muiltiple-pics img{
    /* width:80%; */
  }
  .navyday .muiltiple-pics .single-pic-wrapper {
    /* margin-top: 80px; */
}
.navyday-second-area .navyday-second-area-card{
  padding: 20px 20px;
  position: relative;
}

.navyday-second-area .navyday-second-area-card .navyday-second-area-card-title{
  font-size: 15px;
  line-height: 1;
  margin-bottom: 2px;
}
.navyday-second-area .navyday-second-area-card .three .subheading{
  font-size: 16px;
}
.navyday-second-area .navyday-second-area-card .three .mainheading{
  font-size: 20px;
}
.navyday-second-area .navyday-second-area-card .four .general-info-title{
  font-size: 14px;
}
.navyday-second-area .navyday-second-area-card .four .general-info{
  font-size: 12px;
}
.qr-code{
  right: 6px;
}
.qr-code svg{
  height: 70px!important;
}
.navyday-second-area .navyday-second-area-card .four{
  padding: 20px 0 0 0;
}
.navyday .muiltiple-pics .three img{
  height: 40px;
}
.top-wrapper .one{
  left: 30px;
}

/* .navyday-second-area{
  height: 100vh;

} */

.navyday-fifth-area .entrance-box p{
  font-size: 18px;
}
.navyday-second-area .navyday-second-area-card .one img{
  height:130px;
}
.qr-code{
  top:2%;
}
.navyday-second-area .navyday-second-area-card .one{
  margin-bottom: 20px;
}
.navyday-second-area .navyday-second-area-card .bordered-line{
  margin: 30px auto 10px auto;
}
.navyday-second-area .navyday-second-area-card .highlight-second{
  font-size: 14px;
  margin-bottom: 25px;
}
.custom-container{
  padding: 0!important;
}

}

@media only screen and (max-width : 538px){
  .navyday-second-area .navyday-second-area-card .four{
    /* padding: 0px 20px 40px 0px; */
  }
  .custom-container{
    padding: 0!important;
    margin-top: 25px!important;
  }
  .navyday-second-area .navyday-second-area-card .four .general-info{
    font-size: 11px;
  }
}




@media only screen and (max-width : 537px){
  .time-duration-right {
    padding-left: 5px;
}
.navycard-common-title-content{
  font-size: 11px;
}
.top-wrapper .one{
  left: 30px;
}
.qr-code{
  display: none;
}
}


@media only screen and (max-width : 500px){
  /* .top-wrapper .two{
    padding-right: 40px;
  } */
  .navyday-main-pic img{
    /* padding-right: 40px; */
    height: 220px;
  }
 
  .qr-code svg{
    height: 60px!important;
  }
  .navyday-fourth-area .copyright{
    font-size: 13px;
  }
  .navyday-second-area .navyday-second-area-card .one img{
    height: 90px;
  }
  .navyday-second-area .navyday-second-area-card .highlight-second{
    margin-bottom: 10px;
  }
  .custom-container{
    margin-top: 10px!important;
  }
  .navyday-fifth-area-card{
    min-height: unset;
  }

}

@media only screen and (max-width : 480px) {
         
  .navyday-second-area .navyday-second-area-card{
    padding: 10px 15px;
  }
  .navyday-second-area{
    
    min-height:100vh;
  }

}
@media only screen and (max-width : 464px) {
  .navyday-second-area .navyday-second-area-card .navyday-second-area-card-title{
    font-size: 14px;
  }
  .navyday-second-area .navyday-second-area-card .highlight-second{
    font-size:15px;
  }
  .navyday-third-area-card, .navyday-second-area-card{
    padding: 20px 20px;
  }
  .navyday-second-area .navyday-second-area-card .four{
    padding: 10px 0;
  }
  .navyday-second-area .navyday-second-area-card .four .right-box
  {
    margin-top: 15px;
  }
  .navyday-third-area-card h2{
    font-size: 15px;
  }
  .navyday-third-area-card .navycard-common-title{
   font-size: 13px;
  }
  .navyday-third-area-card .navycard-common-title-content{
    font-size: 12px;
  }
  .navyday-third-area-card-wrapper.second{
    margin-top: 20px;
  }
  .navyday-common-padding{
    padding: 10px 5px;
  }
  
  .navyday-third-area-card-wrapper .right{
    padding-left: 10px;
  }  
  .navyday-fourth-area .map-title{
    font-size: 17px;
    
  }
  .navyday-fourth-area{
    padding-top: 30px;
  }
  .navyday-fourth-area .map-box img{
    height: auto;
  }
  .navyday-fourth-area .map-box{
    margin-top: 20px;
  }
  .navyday-second-area .navyday-second-area-card{
    padding: 10px 18px;
  }
  
}

@media only screen and (max-width : 420px)
{ 
  /* .navyday{
    padding-bottom: 70px!important;
  } */
  .navyday .muiltiple-pics
  {
    /* width: 87px; */
  }
  .navyday-main-pic img{
    height:215px;
    /* padding-right: 45px; */
  }
  .top-wrapper .title{
    font-size: 22px;
  }
  .top-wrapper .date{
    font-size: 12px;
  }
  .navyday .muiltiple-pics img {
  width: 60%;

}
.navyday-third-area-card-wrapper .right{
  padding-left: 10px;
}
.navyday-third-area-card{
  padding: 10px 8px;
}
.navyday-third-area-card .navycard-common-title-content {
  font-size: 10px;
}
.time-duration-right{
  padding-left: 4px;
}
.navyday-second-area .navyday-second-area-card .one img{
  height:200px;
  margin-bottom: 40px;
}
.qr-code{
  right: 0;
}
.qr-code svg{
  height: 50px!important;
}
.responsive-default
{
  text-align: left!important;
}
.top-wrapper .two{
  /* padding-right: 45px; */
}
.top-wrapper .one {
  left: 15px;
}
.navyday .muiltiple-pics .three img{
  margin-top: 10px;
}
.navyday-fifth-area .entrance-box p{
  font-size: 18px;
}
.navyday-fifth-area-card{
  padding:30px 20px;
}
/* .navyday-second-area{
  height: 100vh;
} */
.navyday-second-area .navyday-second-area-card{
  padding: 10px;
}
.navyday-second-area .navyday-second-area-card .navyday-second-area-card-title{
  font-size: 16px;
    line-height: 1.5;
}
.navyday-second-area .navyday-second-area-card .highlight-second{
  font-size: 17px;
  margin-bottom: 20px;
  margin-top: 20px;
}


}

@media only screen and (max-width : 414px){
  .navyday-common-padding{
    padding: 30px 5px;
  }
 
  .navyday-fourth-area .copyright{
    font-size: 12px;
  }
  .navyday-second-area .navyday-second-area-card .bordered-line {
    margin: 50px auto 10px auto;
}
.navyday-second-area .navyday-second-area-card .four {
  padding: 50px 0 20px 0;
}


}

@media only screen and (max-width : 393px){
  .navyday-second-area .navyday-second-area-card .one img {
    height: 133px;
    margin-bottom: 40px;
}
}







@media only screen and (max-width : 390px)
{
  /* .navyday-second-area .navyday-second-area-card{
    padding: 20px 8px;
  } */
  .navyday-second-area .navyday-second-area-card .four .general-info{
    text-align: left;
    font-size: 10px;
  }
}


@media only screen and (max-width : 375px){
  .navyday-second-area .navyday-second-area-card .one img {
    height: 110px;
    margin-bottom: 0px;
}
.navyday-second-area .navyday-second-area-card .bordered-line {
  margin: 20px auto 10px auto;
}
.navyday-second-area .navyday-second-area-card .highlight-second {
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.navyday-second-area .navyday-second-area-card .navyday-second-area-card-title{
  line-height: 1.2;
}
.navyday-second-area .navyday-second-area-card .four {
  padding: 28px 0 20px 0;
}
}


@media only screen and (max-width : 360px){
  .navyday-third-area-card .navycard-common-title-content {
    font-size: 9px;
  }
  .time-duration-right{
    padding-left: 0;
  }
  .navyday-third-area-card-wrapper .right{
    padding-left: 0px;
  }
  /* .navyday .muiltiple-pics{
    width: 88px;
  } */
  /* .navyday .muiltiple-pics img{
    width: 55%;
  } */
  .qr-code svg{
    height: 45px!important;
  }
  .top-wrapper .two
  {
    /* padding-right: 55px; */
  }
  .navyday-main-pic img{
    height: 190px;
    /* padding-right: 55px; */
  }
  .navyday-second-area .navyday-second-area-card .highlight-second{
    font-size: 12px;
  }
  .navyday-second-area .navyday-second-area-card .navyday-second-area-card-title{
    font-size: 14px;
  }
  .navyday-common-padding {
    padding: 15px 5px;
}
.navyday-second-area .navyday-second-area-card .one img {
  height: 120px;
  margin-bottom: 30px;
}
.navyday-second-area .navyday-second-area-card .bordered-line {
margin: 40px auto 10px auto;
}
.navyday-second-area .navyday-second-area-card .highlight-second {
font-size: 17px;
margin-bottom: 10px;
margin-top: 10px;
}
.navyday-second-area .navyday-second-area-card .navyday-second-area-card-title{
line-height: 1.5;
margin-bottom: 5px;
}
.navyday-second-area .navyday-second-area-card .four {
padding: 35px 0 20px 0;
}
.navyday-second-area .navyday-second-area-card .highlight-second {
  font-size: 17px;
  margin-bottom: 20px;
  margin-top: 20px;
}





}
@media only screen and (max-width : 320px){

}